
  #map {
    margin: auto;
    background-color: #f8f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 6px double #434343ff;
    width: 800px;
    height: 900px;
  }

.tooltip {
  position: absolute;
  text-align: center;
  width: 400px;
  height: 30px;
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  background: #00ff00ff;
  border: 8px;
  border-radius: 8px;
  pointer-events: auto;
}
