
#map {
    margin: auto;
    background-color: #f8f8f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 6px double #434343ff;
    width: 800px;
    height: 900px;
  }

svg g image {
  pointer-events: none;
  position: absolute;
  z-index: 10;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 120px; /* increase the width to accommodate wrapped text */
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
   background: #EEEEEE;
  border-style: solid;
  border-width: 2px;
  border-color: #434343ff;
  border-radius: 8px;
  pointer-events: auto;
  white-space: pre-wrap; /* allow wrapping */
}

